<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO LIST</title>
</head>
<body>
     <form action="./createTodo/" method="POST">
                    {% csrf_token %}
                       <input id="todoContent" name="todoContent" type="text" placeholder="메모할 내용을 적어주세요">
                        <span>
                            <button type="submit">메모하기!</button>
                        </span>
                </form>

                <ul>
                    {% for todo in todos %}
                    <form action="./deleteTodo/" method="GET">
                        <div name='todo1'>
                            <li>{{todo.content}}</li>
                            <input type="hidden" id="todoNum" name="todoNum" value="{{todo.id}}">
                            <span>
                                <button type="submit">완료</button>
                            </span>
                        </div>
                    </form>
                    {% endfor %}
                </ul>
<br><br><br>
</body>
</html> 